[0x10a13da0]Agent Name: SUP consul 7e79f213e012
Agent Description:An agent for testing
Number of Executors:2
Root Directory:/home/jenkins
Usage:MatchingLabels
Launch method:SSH
Host:172.22.0.3
Credentials:testCred
Host Key Verification:ManualTrust
Node Label:testLabel1

Agent Name: SUP consul bbdc70ec2a64
Agent Description:An agent for testing
Number of Executors:2
Root Directory:/home/jenkins
Usage:MatchingLabels
Launch method:SSH
Host:172.22.0.5
Credentials:testCred
Host Key Verification:ManualTrust
Node Label:testLabel1

Agent Name: SUP consul f8f6be2f8746
Agent Description:An agent for testing
Number of Executors:2
Root Directory:/home/jenkins
Usage:MatchingLabels
Launch method:SSH
Host:172.22.0.8
Credentials:testCred
Host Key Verification:ManualTrust
Node Label:testLabel1


Agent Name:test2
Agent Description:A second agent for testing
Number of Executors:1
Root Directory:/home/jenkins2
Usage:MatchingLabels
Launch method:SSH
Host:192.168.99.105
Credentials:testCred
Host Key Verification:ManualTrust
Node Label:testLabel2

